@model TwoFactorAuthenticationViewModel
@{
    ViewData["Title"] = "Двухфакторная аутентификация";
    ViewData.AddActivePage(ManageNavPages.TwoFactorAuthentication);
}

<h4>@ViewData["Title"]</h4>
@if (Model.Is2faEnabled)
{
    if (Model.RecoveryCodesLeft == 0)
    {
        <div class="alert alert-danger">
            <strong>У вас не осталось кодов восстановления.</strong>
            <p>Вы должны<a asp-action="GenerateRecoveryCodes">сгенерируйте новый набор кодов восстановления</a>, прежде чем вы сможете войти в систему с помощью кода восстановления.</p>
        </div>
    }
    else if (Model.RecoveryCodesLeft == 1)
    {
        <div class="alert alert-danger">
            <strong>У вас остался 1 код восстановления.</strong>
            <p>Ты можешь <a asp-action="GenerateRecoveryCodes">сгенерировать новый набор кодов восстановления</a>.</p>
        </div>
    }
    else if (Model.RecoveryCodesLeft <= 3)
    {
        <div class="alert alert-warning">
            <strong>You have @Model.RecoveryCodesLeft recovery codes left.</strong>
            <p>You should <a asp-action="GenerateRecoveryCodes">generate a new set of recovery codes</a>.</p>
        </div>
    }

    <a asp-action="Disable2faWarning" class="btn btn-default">Disable 2FA</a>
    <a asp-action="GenerateRecoveryCodesWarning" class="btn btn-default">Reset recovery codes</a>
}

<h5>Приложение-аутентификатор</h5>
@if (!Model.HasAuthenticator)
{
    <a asp-action="EnableAuthenticator" class="btn btn-default">Add authenticator app</a>
}
else
{
    <a asp-action="EnableAuthenticator" class="btn btn-default">Configure authenticator app</a>
    <a asp-action="ResetAuthenticatorWarning" class="btn btn-default">Reset authenticator key</a>
}

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
